In [ ]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
         "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
         "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

##### 1. Yukarıdaki sözlüğü bir DataFrame haline getirin.

In [1]:
import pandas as pd

# Verilen sözlük
sozluk = {
    "Kategori": ["Giyim", "Giyim", "Ayakkabı", "Aksesuar", "Ayakkabı", "Giyim", "Aksesuar", "Aksesuar", "Ayakkabı", "Giyim"],
    "Ürün": ["Kazak", "T-shirt", "Sandalet", "Küpe", "Spor Ayakkabı", "Pantolon", "Kolye", "Yüzük", "Çizme", "Ceket"],
    "Fiyat": [300, 180, 450, 50, 700, 400, 150, 80, 850, 900]
}

# DataFrame'e çevirme
df = pd.DataFrame(sozluk)

# DataFrame'i görüntüleme
print(df)

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

##### 2. Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- 2.indexde bulunan kategoriyi bulalım (Sadece kategori bilgisi)
- 2.indexde bulunan ürünü bulalım (Sadece ürün bilgisi)
- 4.indexden 9.indexe kadar olan verileri bulalım (Kategori,ürün,fiyat bilgisi beraber)
- 1.indexden 6.indexe kadar olan ürünleri bulalım (Sadece ürün bilgisi)

In [2]:
kategori_2 = df.loc[2, "Kategori"]
print("2. indexteki kategori:", kategori_2)

urun_2 = df.loc[2, "Ürün"]
print("2. indexteki ürün:", urun_2)

veriler_4_9 = df.loc[4:9]
print(veriler_4_9)

urunler_1_6 = df.loc[1:6, "Ürün"]
print(urunler_1_6)

2. indexteki kategori: Ayakkabı
2. indexteki ürün: Sandalet
   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900
1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
6            Kolye
Name: Ürün, dtype: object

##### 3. Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde bulunan ürünleri gösterin
- Ayakkabı kategorisinde bulunan ürünleri gösterin
- Aksesuar kategorisinde bulunan ürünleri gösterin

In [6]:
giyim_urunleri = df[df["Kategori"] == "Giyim"]["Ürün"]
print("Giyim Ürünleri:\n", giyim_urunleri)


ayakkabi_urunleri = df[df["Kategori"] == "Ayakkabı"]["Ürün"]
print("Ayakkabı Ürünleri:\n", ayakkabi_urunleri)


aksesuar_urunleri = df[df["Kategori"] == "Aksesuar"]["Ürün"]
print("Aksesuar Ürünleri:\n", aksesuar_urunleri)

Giyim Ürünleri:
 0       Kazak
1     T-shirt
5    Pantolon
9       Ceket
Name: Ürün, dtype: object
Ayakkabı Ürünleri:
 2         Sandalet
4    Spor Ayakkabı
8            Çizme
Name: Ürün, dtype: object
Aksesuar Ürünleri:
 3     Küpe
6    Kolye
7    Yüzük
Name: Ürün, dtype: object

##### 4 Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde fiyatı 300'den fazla olan ürünleri gösterin
- Ayakkabı kategorisinde fiyatı 600'den az olan ürünleri gösterin
- Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuarı gösterin

In [9]:
giyim_300plus = df[(df["Kategori"] == "Giyim") & (df["Fiyat"] > 300)]
print("Giyim - Fiyatı 300 TL'den fazla olan ürünler:\n", giyim_300plus)

ayakkabi_600minus = df[(df["Kategori"] == "Ayakkabı") & (df["Fiyat"] < 600)]
print("Ayakkabı - Fiyatı 600 TL'den az olan ürünler:\n", ayakkabi_600minus)

aksesuar_100plus = df[(df["Kategori"] == "Aksesuar") & (df["Fiyat"] > 100)]
print(" Aksesuar - Fiyatı 100 TL'den fazla olan ürünler:\n", aksesuar_100plus)

Giyim - Fiyatı 300 TL'den fazla olan ürünler:
   Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900
Ayakkabı - Fiyatı 600 TL'den az olan ürünler:
    Kategori      Ürün  Fiyat
2  Ayakkabı  Sandalet    450
 Aksesuar - Fiyatı 100 TL'den fazla olan ürünler:
    Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150